*{
    margin: 0;
    padding: 0;
    justify-content: center;
}
body{
    background-color: #ddd;
}
.container{
    height: 80vh;
    width: 80vh;
    background-color: #eee;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 10vh;
}
.circle{
    height: 60vh;
    width: 60vh;
    background-color: #fcc752;
    position: relative;
    top: 10vh;
    left: 10vh;
    border-radius: 50%;
}
.asset{
    background-color: transparent;
    height: 15vh;
    width: 11vh;
    position: absolute;
    top: 15vh;
    border-radius: 30%;
    border-top: #D77500 3vh solid;
}
.eye-1{
    left: 35vh;
    transform: rotate(8deg);
}
.eye-2{
    right: 35vh;
    transform: rotate(-8deg);
}
.eye-ball{
    background-color: #333B61;
    position: absolute;
    top: 1.5vh;
    left: .5vh;
    height: 8vh;
    width: 10vh;
    border-radius: 50%;
    animation: eyeanimate 3s infinite;
}
.mouth{
    background-color: #692E10;
    height: 5vh;
    width: 15vh;
    position: absolute;
    top: 40vh;
    left: 22.5vh;
    border-radius: 50%;
}
.tear{
    background-color: skyblue;
    height: 15vh;
    width: 15vh;
    position: absolute;
    visibility: hidden;
    border-radius: 150% 0% 150% 50%;
    animation: teardroped 3s infinite;

}
.drop-1{
    top: 29vh;
    left: 0vh;
}
.drop-2{
    top: 29vh;
    right: 14vh;
}
@keyframes eyeanimate {
    40%{
        height: 1vh;
        transform: translateY(4vh);
    }
    50%{
        height: 1vh;
        transform: translateY(4vh);
    }
}
@keyframes teardroped {
    0%{
        visibility: hidden;
    }
    35%{
        visibility: hidden;
    }
    38%{
        background-color: rgba(135, 207, 235, 0.264);
    }
    45%{
        transform: rotate(-45deg) scale(.5) translate(20vh);
        visibility: visible;
        background-color: rgba(135, 207, 235, 0.842);
    }
    100%{
        transform: rotate(-45deg) scale(.5) translate3d(-40vh, 50vh, 0vh);
        background-color: rgba(135, 207, 235, 0.129);
    }
}